:root{
    --primary-red : #db3545;
    --primary-orange: #fc9642;
    --primary-yellow: #ffcd38;
    --primary-green: #1a8754;
    --primary-blue:#0d6dfc;
    --primary-purple:#8b68cc;
    --primary-gray: #6b757d;
    --light-brown: #c6b4a0;
    --second-site:rgb(249, 238, 225);
  
  }
  
  h3{
    color: white;
  }
  
  .bg-qa{
    background-color:#5C4B38;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-align: center;
  } 
  
  body {
    background-image: url('../img/mountain.jpg');
  }
  
  
  a{
    color: white;
    text-decoration: none; }
  
  
  
  .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
    color:black;
    background-color: white;
    border-radius: 5px;
  }
  
  
  #nav-style{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  
  
    
  #navbar-main{
    margin-bottom: 8%;
  }
  
  #index-title{
    color: white;
    background-color: #6b696787;
    padding: 4em 2em;
    border-radius: 0.5em;
    height: 80%;
    margin-bottom: 11%;
  
  }
  
  #setting-panel{
    color: white;
    width: 4000px;
    height: 150px;
    margin-top: 20px;
    padding: 15px 15px;
    border-radius: 0.5em;
  }
  
  #footer-style{
    background-color: #5c4b38;
  }


  .parallax {
    /* The image used */
    background-image: url('../img/mountain.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}

    body, html {
        height: 100%;
        }

    .accordion-button:not(.collapsed){
       color: rgb(255, 255, 255);
       background-color: rgb(11, 1, 1);
    }

    .accordion-button:not(.collapsed)::after{
      transform: white;
    }