:root{
  --primary-red : #db3545;
  --primary-orange: #fc9642;
  --primary-yellow: #ffcd38;
  --primary-green: #1a8754;
  --primary-blue:#0d6dfc;
  --primary-purple:#8b68cc;
  --primary-gray: #6b757d;
  --light-brown: #c6b4a0;
  --second-site:rgb(249, 238, 225);
  --null-shade-site:rgba(255, 255, 255, 0);
  --bg-width: 0%
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-align: center;
} 

h3{
  color: white;
}

.bg-qa{
  background-color:#5C4B38;
}

/* .outer{
  background-image: url('../img/mountain.jpg');

} */

body {
  background-image: url('../img/mountain.jpg');

}


a{
  color: white;
  text-decoration: none; }



.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
  color:black;
  background-color: white;
  border-radius: 5px;
}


#nav-style{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#footer-style{
  background-color:var(--primary-site);
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  margin-top: 10%;
  }

  #pomodoro-style{
    margin: 10px;
  }
  
#navbar-main{
  margin-bottom: 8%;
}

#index-title{
  color: white;
  /* background-color: #6b696787; */

  border-radius: 0.5em;
  height: 80%;
  margin-bottom: 11%;

}

#setting-panel{
  color: white;
  width: 4000px;
  height: 150px;
  margin-top: 20px;
  padding: 15px 15px;
  border-radius: 0.5em;
}

#footer-style{
  background-color: #282828;
}


  body, html {
      height: 100%;
      }

  .accordion-button:not(.collapsed){
     color: rgb(255, 255, 255);
     background-color: var(--primary-red);
  }

  .accordion-button:not(.collapsed)::after{
    transform: white;
  }

  .parallax {


    /* The image used */
    background-image: url(../img/InShot_20240825_181834857.gif);
  
    /* Full height */
    height: 85%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}


    .parallax2 {
      /* The image used */
      background-image: url('../img/mountain.jpg');
    
      /* Full height */
      height: 100%; 
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;}


      #btn-back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;

      }

.btn-go:hover{
background-color: white;
color: black;
}



#title-content{
text-align: left;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 10px;
}

#main-title{
color: rgb(0, 0, 0);
/* padding: 15px; */
}



/*---------- typing effect class */

.text-js{
  opacity: 0;}
.cursor{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
  }
@keyframes flash{
0%{
  opacity: 1;
}
100%{
  opacity: 0;
}
}



.headline{
margin: 20px;
color: white;
font-size: 32px;
text-align: center;
h1{
  letter-spacing: 1.6px;
  font-weight: 300;
}
}

.twitterLink{
position: absolute;
bottom: 0;
right: 0;
margin: 10px 15px;
z-index: 3;
svg{
  width: 25px;
}
}



.highlight, .highlight :link{
color: black;
text-decoration: none;
background-position-y: -0%;
background-image: linear-gradient( rgba(255, 255, 255, 0) 50%,  #f9203673 50%);
transition: background 500ms ease;
background-size: 2px;
background-size: auto 175%;
}

.highlight:hover {
background-position-y: 100%;
}


.shadow-text{
color: #000000;
font-size: 30pt;
position: relative;
margin: 10px;
}

/* .shadow-text2{
position: absolute;
font-size: 30pt;
filter: blur(8px);
top: 20px;
left: 110px;
} */

#pomodoro-style{
  margin: 10px;
}

#number-style{
  font-size:100px;
  color:var(--second-site);
  font-weight:700;
}
  
#btn-controls{
font-size: 18px;
background-color: var(--second-site);
}

#btn-controls:hover{
  font-size: 18px;
  background-color: var(--null-shade-site);
  color: var(--second-site);
  border-style: solid;
  border-color: var(--second-site);
}

#btn-controls:focus{
  font-size: 18px;
  background-color: var(--null-shade-site);
  color: var(--second-site)
}