<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/sample.css">

<style>

/* a,a:link{
  color: black;
  text-decoration: none;
  background-position-y: -0%;
  background-image: linear-gradient( white 50%, gold 50%);
  transition: background 500ms ease;
  background-size: 2px;
  background-size: auto 175%;
}

a:hover {
  background-position-y: 100%;
} */

</style>
</head>
<body>


  <div class="Iam">

    <p>This is</p>
    <b>
      <div class="innerIam">
        leggera<br /> 
        a theme in progress<br />
        built on bootstrap<br />
        how I learn stuff<br />
        how we do it
        </div>
    </b>
    
    </div>

    <!-- <h1><a href="">Hello World The Test</a></h1> -->
</body>
</html>