<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../style/settings-design.css">
</head>
<body>
    <section class="modal hidden">
        
        <div class="container">
            <div class="row">
                <div class="col-3 mr-4" style="background-color: rgba(0, 0, 0, 0.619); border-radius: 10px;">

                    <div class="row p-3" style="background-color: rgba(50, 50, 50, 0.724) ; padding: 20px;">
                        <div class="col"><a href="" class="button"><img src="../img/timer.png" alt=""></a></div>
                        <div class="col"><p>Timer</p></div>
                    </div>
                    <div class="row p-3">
                        <div class="col"><a href="" class="button"><img src="../img/theme.png" alt=""></a></div>
                        <div class="col"><p>Theme</p></div>
                    </div>
                    <div class="row p-3">
                        <div class="col"><a href="" class="button"><img src="../img/sound.png" alt=""></a></div>
                        <div class="col"><p>Sound</p></div>
                    </div>
                    <div class="row p-3">
                        <div class="col"><a href="" class="button"><img src="../img/about.png" alt=""></a></div>
                        <div class="col"><p>About</p></div>
                    </div>

                </div>
                <div class="col" style="background-color: rgb(0, 0, 0, 0.619);">
                    <h3 style="padding: 10px; font-size: 20px; color: white;">Background Color</h3>
                        <select class="custom-select" id="color-list">
                                <option selected>select color</option>
                                <option value="red">Red</option>
                                <option value="orange">Orange</option>
                                <option value="yellow">Yellow</option>
                                <option value="green">Green</option>
                                <option value="blue">Blue</option>
                                <option value="purple">Purple</option>
                                <option value="gray">Gray</option>
                        </select> 
                        <br><br><br>

                        <h3 style="padding: 10px; font-size: 20px; color: white;">Background Theme</h3>
                        <select class="custom-select" id="img-list">
                            <option selected>select theme</option>
                            <option value="default-img">Default Theme</option>
                            <option value="cozy-room">Cozy Room</option>
                            <option value="fireplace">Fire Place</option>
                            <option value="nature">Nature</option>
                        </select>     



                </div>
            

            </div>
        </div>

      </section>
</body>
</html>